;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[re-frame "1.4.3"]
  [re-graph "0.2.0"]
  [metosin/reitit-frontend "0.7.0"]]

 :dev-http {8080 "public"}

 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn genegraph.frontend/init}}
   :release {:closure-defines {genegraph.frontend.BACKEND_WS "wss://genegraph.clinicalgenome.org/ws"
                               genegraph.frontend.BACKEND_HTTP "https://genegraph.clinicalgenome.org/api"}}
   :devtools {:reload-strategy :full}}}}
